<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header"></head>
<body>
<div th:replace="layout/top :: top(header='Item Chart')"></div>

<div class="container text-center">
    <form th:action="@{/item/all}" method="get">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <div class="tt">
                <h5>이이템 번호</h5>
            </div>
            <div>
                <select class="form-select" id="itemId" name="itemId" style="text-align: center;">
                    <option value="" selected>전체</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="tt">
                <h5>업체명</h5>
            </div>
            <select class="form-select" id="vendor" name="vendor" style="text-align: center;">
                <option value="" selected>전체</option>
            </select>
        </div>
        <div class="col-4">
            <div class="input-group mt-5">
                <div class="mt-1">
                    <p>시작일&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;종료일</p>
                </div>
                <div>
                    <input class="textBox ms-3" type="text" id="startDate" name="startDate" value="20200101">
                    ~&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="textBox" type="text" id="endDate" name="endDate" value="20201231">
                </div>
            </div>
        </div>
        <div class="col-2 mt-5">
            <div class="mt-5"><button class="btn btn-primary btn-lg">Excel 변환</button></div>
        </div>
        <div class="col-1"></div>
    </div>
    </form>
</div>

<div th:replace="layout/footer::footer"></div>
</body>
</html>