<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::header"></head>
<body>
<div th:replace="layout/top :: top(header='Customer Chart')"></div>

<div class="container text-center">
    <form th:action="@{/customer/part}" method="get">
        <input type="hidden" id="page" name="page" th:value="${findCustomerDto.page}">
    <div class="row">
        <div class="col-2">
            <div class="tt">
                <h5>코드번호</h5>
            </div>
            <div>
                <select class="form-select" id="code" name="code" style="text-align: center;">
                    <option value="code1" selected>code1</option>
                    <option value="code2">code2</option>
                    <option value="code3">code3</option>
                    <option value="code4">code4</option>
                    <option value="code5">code5</option>
                    <option value="code6">code6</option>
                    <option value="code7">code7</option>
                    <option value="code8">code8</option>
                    <option value="code9">code9</option>
                    <option value="code10">code10</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="tt">
                <h5>성별</h5>
            </div>
            <select class="form-select" id="gender" name="gender" style="text-align: center;">
                <option value="0" selected>남성</option>
                <option value="1">여성</option>
            </select>
        </div>
        <div class="col-4">
            <div class="input-group mt-5">
                <div class="mt-1">
                    <p>시작일&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;종료일</p>
                </div>
                <div>
                    <input class="textBox ms-3" type="text" id="startDate" name="startDate" th:value="${findCustomerDto.startDate}" value="20200101">
                    ~&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="textBox" type="text" id="endDate" name="endDate" th:value="${findCustomerDto.endDate}" value="20200131">
                </div>
            </div>
        </div>
        <div class="col-2 mt-5">
            <div><a th:href="@{/customer/all}" class="btn btn-warning btn-lg">전체 검색</a></div>
            <div><button class="btn btn-primary btn-lg" onclick="search()">부분 검색</button></div>
        </div>
        <div class="col-2 mt-4 smallBtn">
            <button class="btn btn-outline-primary btn-lg me-3" id="previousButton" onclick="navigate('prev')">이전</button>
            <button class="btn btn-outline-primary btn-lg" onclick="navigate('next')">다음</button>
        </div>
    </div>
    </form>
</div>

<div class="container mt-4">
    <table class="table table-bordered">
        <thead class="fs-5 bg-secondary fw-bold text-center">
            <td>회원번호</td>
            <td>이름</td>
            <td>주소</td>
            <td>메일</td>
            <td>구매총액</td>
        </thead>
        <tbody th:each="result : ${result}">
            <td th:text="${result.customerId}" class="text-center"></td>
            <td th:text="${result.name}" class="text-center"></td>
            <td th:text="${result.address}" class="text-center"></td>
            <td th:text="${result.email}" class="text-center"></td>
            <td th:text="${#numbers.formatDecimal(result.total, 3, 'COMMA', 0, 'POINT')}" class="text-center"></td>
        </tbody>
    </table>
</div>

<script th:inline="javascript">

    window.onload = function() {
        updatePreviousButton();
    };

    function updatePreviousButton() {
        let previousButton = document.getElementById('previousButton');
        let currentPage = parseInt(document.getElementById('page').value);
        if (currentPage <= 1) {
            previousButton.disabled = true;
        } else {
            previousButton.disabled = false;
        }
    }

    let genderValue = [[${findCustomerDto.gender}]];

    if (genderValue === 0) {
        document.getElementById("gender").value = "0";
    } else if (genderValue === 1) {
        document.getElementById("gender").value = "1";
    }


    let codeValue = [[${findCustomerDto.code}]];

    document.getElementById("code").value = codeValue;

    function navigate(direction) {
        let currentPage = parseInt(document.querySelector('input[name="page"]').value);
        let nextPage = direction === 'prev' ? currentPage - 1 : currentPage + 1;

        document.querySelector('input[name="page"]').value = nextPage;
        document.getElementById('customerForm').submit();
    }

     function search() {
        document.getElementById('page').value = 1;
        document.getElementById('searchForm').submit();
    }


</script>

<div th:replace="layout/footer::footer"></div>
</body>
</html>